body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightblue;
}

 /*Set padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*textarea {
    resize: none;
}
.heading {
    text-align: center;
    margin-top: 150px;
}

.category {
   text-align: center;
}

.leftButtons {
    float: left;
}

.rightButton {
    float: right;
}

.test {
    margin-top: 100px;
}

.down {
    margin-top: 100px;
}

a {
    text-decoration: none;
}*/
